/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.conatiner{
    width: 90%;
    margin: 0 auto;
}

#logo-img{
    width: 50px;
    vertical-align: middle;
}

#logo-text{
    font-size: 40px;
    font-weight: bold;
    vertical-align: middle;
}

.logo{
    margin-left: 20px;
}

/* STILE BODY */
#body-bg{
    background-color: #eeeeee;
}

.white-bg{ 
    width: 60%;
    margin: 0 auto;
    background-color: white;
}

.side-padding{
    padding-left: 30px;
}

.vert-padding{
    padding-top: 5px;
    padding-bottom: 5px;
}

/* STILE BOTTONI */
#button-container{
    background-color:#ffffff;
}

#add-task{
	background-color:#47adf1;
    border: 2px solid;
    border-color: #47adf1;
	border-radius:6px;
	display:inline-block;
	color:#ffffff;
	font-size:15px;
	padding:10px 20px;
}

#add-section{
    background-color:#ffffff;
    border: 2px solid;
	border-radius:6px;
	display:inline-block;
	color:#ccd1d5;
	font-size:15px;
	padding:10px 20px;
}

#task-container{

}

/* TITOLO SEZIONE */
.task-title{
    font-weight: bold;
}

/* FRECCIA MENU */
.triangle::before{
    content: '\1D14F';
    font-size: 30px;
}

/* SPUNTA VERDE TASKS */
.check{
    display: inline-block;
    color: #6fc5b1;
    background-color: 255, 255, 255, 0;
    border: 1px solid;
    border-color:#6fc5b1;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 10px;
}

/* X ROSSA TASKS */
.cross{
    display: inline-block;
    color: #e84a4a;
    background-color: 255, 255, 255, 0;
    border: 1px solid;
    border-color:#e84a4a;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 10px;
}

/* RETTANGOLO ETICHETTE */
.categories{
    width: 60px;
    border-radius: 10px;
    background-color:#aaaaaa;
	display:inline-block;
	color: #ffffff;
	font-size: 11px;
	padding: 6px;
}

/* COLORI ETICHETTE */
.editorial{
    background-color:#45abea;
}
.qone-goals{
    background-color:#9c72e4;
}
.recruiting{
    background-color:#64c0a9;
}
.mobile{
    background-color:#f29e33;
}
.website{
    background-color:#d863a1;
}
.sales{
    background-color:#b0c926;
}